/*set background image for body*/
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}
/*set border for cards*/
.card {
    border-color: rgb(1, 1, 78);
    border-width: 2px;
    border-style: solid;
    border-radius:5px;
}
/*set border for table to eliminate white space, center text*/
.table.table-bordered.table-hover > thead > tr > th,
.table.table-bordered.table-hover > tbody > tr > th,
.table.table-bordered.table-hover > tbody > tr > td{
    border:1px solid rgb(1, 1, 78);
    text-align: center;
}
/*set min width and margins for table holder*/
#tableCard{
    min-width: 620px;
    margin: 10px auto;
}
/*set max width, margins, and default width when bootstrap grid collapses for form card*/
#formCard{
    max-width: 620px;
    margin: 10px auto;
    width:80%;
}
/*set font style/size/color/family for form labels*/
label {
    color: rgb(1, 1, 78);
    font-weight: bold;
    font-family: 'Fira Mono', monospace;
    font-size: 20px;
}
/*set background/font/border color for form input areas*/
.form-control{
    background: burlywood;
    color: rgb(1, 1, 78);
    border-color: rgb(1, 1, 78);
    border-width: 2px;
    border-style: solid;
    box-shadow: 2px 2px 1px 0px rgb(9, 9, 44);
}
/*set ackground/font/border color for focused form input areas. remove outline from forms*/
.form-control:focus{
    outline: none;
    border-color: burlywood;
    border-width: 2px;
    background-color: rgb(1, 1, 78);
    color: burlywood; 
    box-shadow: 3px 3px 2px 0px rgb(9, 9, 44);
}
/*set background/font color and font styling for submit button*/
.btn.btn-primary{
    background: rgb(1, 1, 78);
    color: burlywood;
    border-radius: 10px;
    border-color: burlywood;
    font-family: 'Rye', cursive;
    outline: none;
    box-shadow: 2px 2px 1px 0px rgb(9, 9, 44);
}
/*set a more pronounced shadow to "raise" the
button and indicate the user can click.*/
.btn.btn-primary:hover {
    box-shadow: 3px 3px 2px 0px rgb(9, 9, 44);
    outline: none;
}
/*restore default shadow to "lower" button and
create a click effect*/
.btn.btn-primary:active {
    box-shadow: 2px 2px 1px 0px rgb(9, 9, 44);
    outline: none;
}
/*set font color/family. set width along with mins and maxes. set height. set 
background image. set border color/style. center text. set margins. set padding
to place text*/
.jumbotron {
    font-family: 'Fredericka the Great', cursive;
    width: 60%;
    max-width: 670px;
    min-width: 620px;
    height: 200px;
    background-image: url("../images/background2.jpg");
    color: rgb(1, 1, 78);
    border-color: rgb(1, 1, 78);
    border-width: 4px;
    border-style: solid;
    text-align: center; 
    margin: 20px auto 10px auto;
    padding: 30px;
    box-shadow: 5px 5px 3px 0px rgb(9, 9, 44);
}
.card{
    box-shadow: 3px 3px 2px 0px rgb(9, 9, 44);
}
/*set background/font color and font style for table header*/
#tableHeader {
    background: rgb(1, 1, 78);
    color: burlywood;
    font-family: 'Fira Mono', monospace;
}
/*set background/font color and font family for table body*/
#tableBody {
    background: burlywood;
    color: rgb(1, 1, 78);
    font-family: 'Fira Mono', monospace;
}
/*set background/font color. set font style and center text*/
.card-header {
    background: rgb(1, 1, 78);
    color: burlywood;
    text-align: center;
    font-family: 'Rye', cursive;
    font-size: 32px;
}
/*set background image for input form*/
#form-body{
    background-image: url("../images/background5.jpg");  
}
/*set background image for table*/
#table-body {
    background-image: url("../images/background3.jpg");  
}
